* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
  }
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: no-repeat center/cover url(./img/bg.jpg);
  }
  body>h1{
    color: #ffffff;
    background: #000000;
    margin-bottom: 15px;
    width: 30vw;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }
  .quoteContainer {
    height: 35vh;
    width: 30vw;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px;
  }
  .btn {
    padding: 5px 2px;
    width: 50%;
    align-self: center;
    border: 2px solid black;
    cursor: pointer;
    background: #000000;
    color: #ffffff;
  }

 
  @media (max-width: 1100px){
    body>h1{
        width: 80vw;
        font-size: 35px;
      }
      .quoteContainer {
        max-height: 20vh;
        width: 80vw;
        font-size: 30px;
      }
  }
  @media (max-width: 1000px){
    body>h1{
       
        font-size: 25px;
      }
      .quoteContainer {
        font-size: 20px;
      }
  }
  @media (max-width: 700px){
    body>h1{
        font-size: 20px;
      }
      .quoteContainer {
        font-size: 15px;
      }
  }